# ПОЧАТОК налаштувань WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# КІНЕЦЬ налаштувань WordPress

# Вимкнути підпис сервера
ServerSignature Off

# Включити ETag
FileETag none

# Встановити заголовки для кешування
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css "access plus 1 year"
ExpiresByType text/javascript "access plus 1 year"
ExpiresByType application/javascript "access plus 1 year"
ExpiresByType application/x-javascript "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>

# Увімкнути стиснення Gzip
<IfModule mod_deflate.c>
<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</IfModule>
</IfModule>

# Встановити заголовки "Cache-Control" для важливих файлів
<FilesMatch "(^wp-admin$|^wp-login\.php|^wp-cron\.php)">
Header set Cache-Control "private, no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>

# Встановити заголовки "Cache-Control" для статичних файлів
<FilesMatch "\.(css|js|ico|pdf|flv|jpg|jpeg|png|gif|swf|ico|woff|woff2|ttf)$">
Header set Cache-Control "public, max-age=31536000, immutable"
</FilesMatch>

# Вимкнути включення серверних скриптів
<IfModule mod_include.c>
    Options -Includes
</IfModule>

# Вимкнути перегляд вмісту каталогів
Options -Indexes

# Налашттування PHP
#upload_max_filesize - обмеження розміру завантажуваних файлів до 64МБ.
#post_max_size - обмеження розміру POST-даних до 64МБ.
#max_execution_time - максимальний час виконання PHP-сценаріїв встановлено на 300 секунд (5 хвилин).
#max_input_time - максимальний час, який PHP витрачає на обробку вхідних даних, таких як запити POST або GET.
#memory_limit - максимальний обсяг пам'яті, який може використовувати PHP, встановлено на 128МБ.
#session.gc_maxlifetime - максимальний час життя сесії встановлено на 1440 секунд (24 хвилини). Це визначає, через який період часу сесія буде автоматично закрита.
<IfModule mod_php.c>
    php_value upload_max_filesize 64M
    php_value post_max_size 64M
    php_value max_execution_time 300
    php_value max_input_time 300
    php_value memory_limit 128M
    php_value session.gc_maxlifetime 1440
</IfModule>
